<%= render "shared/header", title: 'trevor seibel', subtitle: 'Developer. Former Woodworker. Decent guy, generally speaking.' %>

<div style="padding: 2rem;"></div>

<section>
  <%= cache @latest_article do %>
    <%= render "articles/card",
      **@latest_article,
      title: "latest article: #{@latest_article[:title]}"
    %>
  <% end %>
</section>

<hr />

<section>
  <%= render "articles/card",
      **@featured_project,
      title: "featured project: #{@featured_project[:title]}"
    %>
</section>
