<%= render "shared/header", title: 'trevor seibel', subtitle: 'Developer. Former Woodworker. Decent guy, generally speaking.' %>

<section>
  <h2>latest blog post</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, hic. Magni nisi tempore eos dolorem atque ex, sed culpa debitis quia neque explicabo libero assumenda dolores repellendus adipisci et omnis.</p>
  <a href="/">read more...</a>
</section>

<hr />

<section>
  <h2>projects</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, hic. Magni nisi tempore eos dolorem atque ex, sed culpa debitis quia neque explicabo libero assumenda dolores repellendus adipisci et omnis.</p>
  <a href="/">read more...</a>
</section>
