<%= render "shared/header", title: 'trevor seibel', subtitle: 'Developer. Former Woodworker. Decent guy, generally speaking.' %>

<div style="padding: 2rem;"></div>

<section>
  <h3>latest article</h3>
  <div class="dashboard__card-wrapper">
    <%= render "articles/card",
      **@latest_article,
      title: @latest_article[:title]
    %>
  </div>
</section>

<hr />

<section>
  <h3>featured project</h3>
  <div class="dashboard__card-wrapper">
    <%= render "articles/card",
      **@featured_project,
      title: @featured_project[:title]
    %>
  </div>
</section>
