<header>
  <h1>blog</h1>
</header>
<div class="blog__list">
  <% @parsed_blogs.each do |blog| %>
    <div>
      <% if blog[:title]  %>
        <h2><%= blog[:title] %></h2>
      <% end %>
      <% if blog[:summary]  %>
        <p><%= blog[:summary] %></p>
      <% end %>
      <p><%=  link_to("read more >>>", blog_path(id: blog[:source])) %></p>
    </div>
  <% end %>
</div>
