<% @parsed_blogs.each do |blog| %>
  <hr />
  <% if blog[:title]  %>
    <h1><%= blog[:title] %></h1>
  <% end %>
  <%= blog[:html].truncate_words(50, omission: " #{link_to("...Read more", blog_path(id: blog[:source].chomp('.md')))}", escape: false).html_safe %>
<% end %>
