<h1>about me</h1>

<p>In August 2017 Trevor began his journey into programming. His passion for building websites grew rapidly, and what started with a few online courses soon evolved into personal projects, attending Ottawa JavaScript meetups, and eventually presenting at them. Now, Trevor is employed full-time as a software developer, often working in a fullstack capacity.</p>
<p>Before the career change, Trevor worked as a woodworker, preserving Canadian history in the nation's capital. Trevor is a graduate of Algonquin College's Heritage Carpentry and Joinery program.</p>
<p>It might seem like quite the leap, but woodworking and coding share many skill sets. Order of operations, resource management, and focus on product delivery are vital assets for both disciplines.</p>
<p>Trevor's experience focus has TypeScript and Ruby on Rails.</p>

<%= link_to("back home", root_path) %>