<%= render "shared/header", title: "about me" %>

<p>I launched my programming career in August 2017 and quickly developed a passion for building websites. Starting with online courses, I rapidly progressed to creating personal projects, participating in Ottawa JavaScript meetups, and eventually becoming a presenter at these events. Today, I thrive as a full-stack software developer, delivering solutions across the entire development stack.</p>

<p>Prior to my tech career, I had a career as a woodworker, where I devoted myself to preserving Canadian heritage buildings in Ottawa. My training at Algonquin College's Heritage Carpentry and Joinery program instilled in me a respect for quality craftmanship, which I impart to my code. </p>

<p>While transitioning from woodworking to coding may seem unconventional, I leverage the same core skills in both fields: systematic problem-solving, efficient resource allocation, and a focus on delivering quality products. This perspective allows me to approach software development challenges with a blend of pragmatism and refinement.</p>

<p>I specialize in TypeScript and Ruby on Rails development, crafting clean, tested, and maintainable code. My diverse background enables me to bring fresh insights and innovative solutions to every project I undertake.</p>

<p><%= link_to("<<< home", root_path) %></p>
