/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 @import "base.css";

/* --- nav --- */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  padding: 16px;
}

nav a {
  color: inherit;
}

nav a:visited {
  color: inherit;
}

/* --- */


.dots {
  background-image: radial-gradient(grey, 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

