/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* Shoutout to mi.css, used as a foundation for styles. */
html,
 body {
   color: #212121;
   font-size: 16px;
   background: #f6f6f6;
   line-height: 1.8;
   font-family: monospace;
   min-height: 100%;
 }
 
 body {
   margin: auto;
   padding: 1em;
   max-width: 720px;
 }
 
 /*/
  *  depending on the project, add or remove:
 /*/ 
 nav,
 main,
 header,
 footer,
 section,
 article {
   margin: 1em 0;
 }
 /*/
  * -------------------------------------------------- *
 /*/
 dt,
 pre,
 form,
 table,
 fieldset,
 blockquote {
   margin: 1em 0;
 }
 /*/
  * -------------------------------------------------- *
 /*/
 
 a {
   color: inherit;
 }
 
 pre {
   padding: 1em;
   border-radius: 3px;
 }
 
 img {
   height: auto;
   max-width: 100%;
 }

figure {
  display: grid;
  place-items: center;
  padding: 0.5rem;

  img {
    border-radius: 0.5rem;
  }
}
 
 input {
   vertical-align: middle;
 }
 
 blockquote {
   border-left: 4px solid #212121;
   padding-left: 1em;
 }
 
 article h1 { /*override :-webkit-any*/
   font-size: 2em;
 }
 
 ul,
 ol {
   padding: 0;
   list-style-position: inside;
 }
 
 li > ul,
 li > ol {
   padding: 0 1em;
 }
 
 pre,
 code {
   color: white;
   overflow: auto;
   background: #212121;
 }
 
 input:disabled,
 button:disabled {
   opacity: 0.8;
 }
 
 td,
 th,
 table {
   border: 1px solid #212121;
   padding: 8px;
   border-collapse: collapse;
 }
 
 input,
 button,
 select,
 legend,
 fieldset,
 textarea {
   border: 1px solid #212121;
   outline: none;
   padding: 3px 7px;
   background: none;
   border-radius: 3px;
 }
 
 button,
 legend,
 input[type="reset"],
 input[type="button"],
 input[type="submit"] {
   color: #f6f6f6;
   background: #212121;
 }

 hr {
  margin: 4rem;
 }

/* --- nav --- */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  padding: 16px;
}

nav a {
  color: inherit;
}

nav a:visited {
  color: inherit;
}

nav img {
  margin: auto;
  vertical-align: middle; 
  display: inline-block;
  min-width: 18px;
} 


/* --- footer --- */

footer {
  text-align: center;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  width: 100%;
}

/* --- goodies --- */

.dots {
  background-image: radial-gradient(grey, 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

